html {
    scroll-behavior: smooth;
}
*{
    margin: 0px auto;
    cursor: url('../images/Cursor_Grand\ Chase.cur'), auto;
}
/* Utility */
:root {
    --primary-lightdark: #333333;
    --primary-purple: #516DFF;
    --primary-dark: #070709;
    --primary-darkblue: #1B1871;
    --primary-white: #FFFFFF;
    --primary-shadow: #888888;
    --primary-transparent:#00000000;
    --primary-dark-gradient:rgba(7,7,9,1);
    --primary-darkblue-gradient: rgba(27,24,113,1);
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
/* for bouncing animation */
@keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Start and end position of the bounce */
    }
    50% {
      transform: translateY(-10px); /* Middle position of the bounce */
    }
  }

/* Desktop View */
/* navigation bar section */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color:var(--primary-lightdark);
    color: var(--primary-white);
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    box-shadow: 1px 2px var(--primary-shadow);
}
.left-item {
    text-align: left;
    margin-left: 200px;
}
.left-item img{
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;
}
.center-item {
    text-align: center;
}
.center-item img{
    width: 240px;
    margin-top: 75px;
    margin-left: 100px;
    z-index: 1;

}
.right-items {
    margin-right: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.right-item {
    cursor: pointer;
    margin-left: 10px;
    text-align: right;
    text-decoration: none;
    color: var(--primary-white);
}
.right-item:hover{
    color: var(--primary-purple);

}
.button-play{
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.button-play:hover{
    color: var(--primary-white);
    background-color: var(--primary-purple);

}
/* Headline Section */
.headline-container{
    background-image: linear-gradient( 92deg, var(--primary-dark-gradient) 50%, var(--primary-darkblue-gradient) 100% );
    height: 240px;
    color: var(--primary-white);
    padding: 15%;
    display: flex;
}
.headline-col1{
    height: 500px;
    flex:3;
}
.headline-col2{
    flex:1;
}
.headline-col2 img{
    width: 300px;
    height: auto;
    margin-top: -150px;
    margin-left: 200px;
    justify-content: end;
    animation: bounce 6s infinite;
}
.headline-text{
    font-family: 'Bangers', cursive;
    font-size: 3.4rem;
    font-style: thin;
    text-align: left;
    font-weight: 100;
    margin-top: -50px;
}
.headline-descript{
    margin-top: 10px;
    font-family: 'Roboto-Flex', sans-serif;
    margin-bottom: 30px ;
}
span.hl-highlight{
    font-family: 'Bangers', cursive;
    color: var(--primary-purple);
}
.download-playtore-button{
    cursor: pointer;
    padding: 17px;
    background-color: #555;
    color: var(--primary-white);
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-right: 10px;
    color: var(--primary-white);
    box-shadow: 0px 0px 4px 0px #516DFF;
    background-color: var(--primary-transparent);
}
.download-playtore-button img{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.download-apple-button,
.download-playtore-button{
    font-family: 'Roboto-Flex', sans-serif;
}
.download-apple-button{
    cursor: pointer;
    padding:17px;
    background-color: #555;
    color: var(--primary-white);
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 40px;
    width: 20px;
    color: var(--primary-dark);
    background-color: var(--primary-white);
}
.download-apple-button img{
    width: 20px;
    vertical-align:middle;
    margin-right: 10px;
    margin-bottom: 5px;
}
.download-apple-button:hover,
.download-playtore-button:hover{
    background-color: var(--primary-lightdark);
}
/*About Section*/
.about-container{
    background-image: linear-gradient(35deg, var(--primary-dark-gradient) 70.58%, var(--primary-darkblue-gradient) 100%);
    height: 200px;
    color: var(--primary-white);
    padding: 15%;
    display: flex;
}
.about-col1{
    flex:1;
}
.about-col1 img{
    width: 500px;
    height: auto;
    margin-top: -150px;
    justify-content: start;
    animation: bounce 4s infinite;
}
.about-col2{
    flex:2;
    width: 0;
}
.about-icons{
    margin-top: -100px;
}
.about-icons img{
    width: 70px;
}
h1.title{
    font-size: 2.4rem;
    color: var(--primary-purple);
    font-family: 'Koulen', cursive;
}
.hr-about{
    width:15%;
    text-align:left;
    margin-left:0;
    margin-top: -10px;
    height:4px;
    background-color: var(--primary-white);
}
.about-descript{
    margin-top: 10px;
    font-family: 'Roboto-Flex', sans-serif;
    margin-bottom: 30px ;
    font-size: 15px;
    text-align:justify;
}
span.about-highlight{
    font-weight: bold;
    color: var(--primary-purple);
}
/* Media Section */
.media-container{
    background-image: linear-gradient(180deg, var(--primary-dark-gradient) 33.50%, var(--primary-darkblue-gradient) 100%);
    height: 200px;
    color: var(--primary-white);
    padding: 15%;
    display: flex;
}
.video-myst{
    width:100%;
    height:500px;
    margin-top:-100px;
    box-shadow: 0px 1px 5px 0px #516DFF;
}
/* Evolution Section */
.evolution-container{
    background-image: linear-gradient(1deg, var(--primary-dark-gradient) 33.50%, var(--primary-darkblue-gradient) 100%);
    height: 250px;
    color: var(--primary-white);
    padding: 15%;   
}
.evolution-title{
    margin-top:-100px;
    font-size: 40px;
    text-align: center;
    font-family: 'Koulen', cursive;
    color: var(--primary-purple);
}
.hr-evolution{
    width:10%;
    text-align: center;
    margin-top: -10px;
    height:4px;
    background-color: var(--primary-white);
}
.mini-container{
    margin-top: 10px;
    display: flex;
}
.mini-container img{
    animation: bounce 4s infinite;
    flex:1;
}
.evolution-desc{
    margin-top: 100px;
    display: flex;
}
.evolution-desc h4{
    flex:1;
    text-align:center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-shadow:  -1px -1px 0 var(--primary-white),
    1px -1px 0 var(--primary-white),
   -1px  1px 0 var(--primary-white),
    1px  1px 0 var(--primary-white);
    color: var(--primary-purple);
    margin-right: 10px;
}

/* Download Section */
.download-container{
    background-image: linear-gradient(180deg, var(--primary-dark-gradient) 33.50%, var(--primary-darkblue-gradient) 100%);
    height: 200px;
    color: var(--primary-white);
    padding: 15%; 
}
.grandchase-download{
    margin-top: -150px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.desc-download p{ 
    margin-top: 10px;
    /* display: flex; */
}
.desc-download img{
    width: 100px;
}
.desc-download-buttons{
    margin-top: 40px;
}
.download-playtore-button2{
    cursor: pointer;
    padding: 17px;
    background-color: #555;
    color: var(--primary-white);
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-right: 10px;
    color: var(--primary-white);
    box-shadow: 0px 0px 4px 0px #516DFF;
    background-color: var(--primary-transparent);
}
.download-playtore-button2 img{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.download-apple-button2,
.download-playtore-button2{
    font-family: 'Roboto-Flex', sans-serif;
}
.download-apple-button2{
    cursor: pointer;
    padding:17px;
    background-color: #555;
    color: var(--primary-white);
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 40px;
    width: 20px;
    color: var(--primary-dark);
    background-color: var(--primary-white);
}
.download-apple-button2 img{
    width: 20px;
    vertical-align:middle;
    margin-right: 10px;
    margin-bottom: 5px;
}
.download-apple-button2:hover,
.download-playtore-button2:hover{
    background-color: var(--primary-lightdark);
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-image: linear-gradient(90deg, var(--primary-dark-gradient) 33.50%, var(--primary-darkblue-gradient) 100%); /* Set a background color */
    color: var(--primary-white); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    box-shadow: 0px 0px 4px 0px #516DFF;
}
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/* Footer */
footer{
display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
background-color:var(--primary-lightdark);
color: var(--primary-white);
font-size: 10px;
font-family: 'Roboto', sans-serif;
box-shadow: 1px 2px var(--primary-shadow);
}
#content {
    display: none;
}

/*Mobile View*/
@media screen and (max-width: 400px) and (max-width: 928px) {
    /* Headline Section */
    .navigation{
        display: none;
    }
    .headline-container {
      background-image: linear-gradient( 90deg, var(--primary-dark-gradient) 40%, var(--primary-darkblue-gradient) 100% );
      padding: 5%;
      display: block;
      height: 770px;
      justify-content: center; /* Center horizontally */
      align-items: center; 
      text-align: center;
    }
    .headline-text {
      font-size: 2.5rem;
      margin-top: 10%;
      text-align: center;
    }
    .headline-descript {
      margin-top: 20px;
      font-size: 15px;
      text-align: center;
      margin-bottom: 10px;
    }
    .headline-col2 .myst01{
      animation: bounce 4s infinite;
      width: 200px;
      margin:-150px 50px 10px 70px;
    }
    .buttons-headline{
        padding: 5%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        margin-left: 70px;
    }
    .buttons-headline a{
        display:inline-block;
        margin: 10px 50px 10px 10px;
        font-family: 'Roboto-Flex', sans-serif;
    }
    .download-playtore-button{
        cursor: pointer;
        width: 70%;
        padding: 10px;
        background-color: #555;
        color: var(--primary-white);
        text-decoration: none;
        border-radius: 5px;
        color: var(--primary-white);
        box-shadow: 0px 0px 4px 0px #516DFF;
        background-color: var(--primary-dark);
    }
    .download-playtore-button img{
        width: 30px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .download-apple-button{
        cursor: pointer;
        width: 70%;
        padding: 10px;
        background-color: #555;
        color: var(--primary-white);
        text-decoration: none;
        border-radius: 5px;
        /* margin-bottom: 40px; */
        color: var(--primary-dark);
        background-color: var(--primary-white);
    }
    .download-apple-button img{
        width: 20px;
        vertical-align:middle;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .download-apple-button:hover,
    .download-playtore-button:hover{
        background-color: var(--primary-lightdark);
    }
    /* About Section */
    .about-container {
        background-image: linear-gradient(35deg, var(--primary-dark-gradient) 85.58%, var(--primary-darkblue-gradient) 100%);
        padding: 5%;
        display: block;
        height: 1000px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .about-col1 img{
        width: 400px;
        height: auto;
        margin:0px 50px -900px -20px;
        animation: bounce 4s infinite;
    }
    .about-col2{
      width: 100%;
      margin-top:100px ;
      text-align: center;
    }
    .about-icons{
        padding: 5%;
        display: flex;
        margin-bottom: 10px;
    }
    .about-icons img{
        width: 60px;
    }
    h1.title{
        font-size: 50px;
        color: var(--primary-purple);
        font-family: 'Koulen', cursive;
    }
    .hr-about{
        width:30%;
        text-align:center;
        margin-left:35%;
        margin-top: -10px;
        height:1px;
        background-color: var(--primary-white);
    }
    .about-descript{
        margin-top: 10px;
        font-family: 'Roboto-Flex', sans-serif;
        margin-bottom: 30px ;
        font-size: 15px;
        text-align:justify;
    }
    span.about-highlight{
        font-weight: bold;
        color: var(--primary-purple);
    }
    /* Media Section */
    .media-container {
        background-image: linear-gradient(180deg, var(--primary-dark-gradient) 40.58%, var(--primary-darkblue-gradient) 100%);
        padding: 10%;
        display: block;
        height: 250px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .video-myst {
      width: 100%;
      height: 200px;
      margin-top: 30px;
    }
  
    /* Evolution Section */
    .evolution-container {
        background-image: linear-gradient(0deg, var(--primary-dark-gradient) 40.58%, var(--primary-darkblue-gradient) 100%);
        padding: 10%;
        /* display: block; */
        height: 1080px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .evolution-title {
      margin-top: -100px;
      font-size: 50px;
    }
  
    .hr-evolution {
      margin-top: 0px;
      width: 40%;
      height: 1px;
    }
    .mini-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
    }
    
    .mini-container img {
        width: 120%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .evolution-desc {
        display: none;
    }
    
    /* Download Section */
    .download-container {
        background-image: linear-gradient(180deg, var(--primary-dark-gradient) 10.58%, var(--primary-purple) 100%);
        padding: 10%;
        /* display: block; */
        height: 500px;
        display: block;
        align-items: center;
    }
    .grandchase-download {
        margin-top: 20px;
    }
    .grandchase-download .logo {
      margin-top: 40px;
      width: 200px;
    }
  
    .desc-download p {
      padding: 5%;
      font-size: 15px;
      text-align: center;
    }
  
    .desc-download img {
      width: 50px;
    }
    .desc-download-buttons{
        padding: 1%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        margin-left: 70px;
        margin-top: -10px;
    }
    .desc-download-buttons a{
        display:inline-block;
        margin: 10px 50px 10px 10px;
        font-family: 'Roboto-Flex', sans-serif;
    }
    .download-playtore-button2{
        cursor: pointer;
        width: 70%;
        padding: 10px;
        background-color: #555;
        color: var(--primary-white);
        text-decoration: none;
        border-radius: 5px;
        color: var(--primary-white);
        box-shadow: 0px 0px 4px 0px #516DFF;
        background-color: var(--primary-dark);
    }
    .download-playtore-button2 img{
        width: 25px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .download-apple-button2{
        cursor: pointer;
        width: 70%;
        padding: 10px;
        background-color: #555;
        color: var(--primary-white);
        text-decoration: none;
        border-radius: 5px;
        /* margin-bottom: 40px; */
        color: var(--primary-dark);
        background-color: var(--primary-white);
    }
    .download-apple-button2 img{
        width: 20px;
        vertical-align:middle;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .download-apple-button2:hover,
    .download-playtore-button2:hover{
        background-color: var(--primary-lightdark);
    }
    /* Footer */
    footer {
      font-size:8px;
      height:50px;
    }
  
}
